<ion-view title="Herzog, David Residence">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios7-refresh-empty"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-only tabs-positive">

        <ion-tab title="Summary" on-select="vm.loadSummary()">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Summary</h1>
            </header>
            <ion-content has-header="true">
                <div class="row">
                    <div class="col col-50">Power Production:</div>
                    <div class="col col-25 text-right">{{vm.summary.current_power}}</div>
                </div>
                <div class="row">
                    <div class="col col-50">Today's Energy:</div>
                    <div class="col col-25 text-right">{{vm.summary.energy_today}}</div>
                </div>
                <div class="row">
                    <div class="col col-50">Past 7 Days:</div>
                    <div class="col col-25 text-right">{{vm.summary.energy_week}}</div>
                </div>
                <div class="row">
                    <div class="col col-50">This Month's:</div>
                    <div class="col col-25 text-right">{{vm.summary.energy_month}}</div>
                </div>
                <div class="row">
                    <div class="col col-50">Lifetime Energy:</div>
                    <div class="col col-25 text-right">{{vm.summary.energy_lifetime}}</div>
                </div>
                <div class="row">
                    <div class="col col-50">Inverters:</div>
                    <div class="col col-25 text-right">{{vm.summary.modules}}</div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Stats" on-select="vm.loadStats()">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Stats</h1>
            </header>

            <ion-content has-header="true">
                <div id="sparkline" style="width:100%;height:40px;"></div>

                <div class="list">

                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="date" placeholder="Date" ng-model="vm.date" min="{{vm.minDate}}" max="{{vm.maxDate}}" ng-change="vm.changeDate()">
                        </label>
                    </div>

                </div>

                <div class="list">

                    <div class="item item-divider">
                        Total
                    </div>

                    <a class="item" href="#">
                        <div class="row">
                            <div class="col col-50">Power in watts:</div>
                            <div class="col col-25 text-right">{{vm.totalPower}}</div>
                            <div class="col col-25"></div>
                        </div>
                        <div class="row">
                            <div class="col col-50">Energy in watts:</div>
                            <div class="col col-25 text-right">{{vm.totalEnergy}}</div>
                            <div class="col col-25"></div>
                        </div>
                    </a>

                    <div ng-repeat="divider in vm.dividers">
                      <div class="item item-divider" >
                          {{divider.time}}
                          <span class="badge badge-positive">{{divider.count}}</span>
                      </div>

                      <a class="item" href="#" ng-repeat="interval in divider.intervals">
                          <div class="row">
                              <div class="col col-50">Inverters Reporting:</div>
                              <div class="col col-25 text-right">{{interval.devices}}</div>
                              <div class="col col-25" style="text-align: right">{{interval.endDate}}</div>
                          </div>
                          <div class="row">
                              <div class="col col-50 small">Power in watts:</div>
                              <div class="col col-25 text-right small">{{interval.powr}}</div>
                              <div class="col col-25"></div>
                          </div>
                          <div class="row">
                              <div class="col col-50">Energy in watts:</div>
                              <div class="col col-25 text-right small">{{interval.enwh}}</div>
                              <div class="col col-25"></div>
                          </div>
                      </a>
                    </div>

                </div>
            </ion-content>
        </ion-tab>

        <!--<ion-tab title="Alerts" on-select="loadAlerts()">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Alerts</h1>
            </header>
            <ion-content has-header="true">
                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Severity
                        </div>
                        <select>
                            <option>Low</option>
                            <option selected>Medium</option>
                            <option>High</option>
                        </select>
                    </label>

                </div>
            </ion-content>
        </ion-tab>-->

    </ion-tabs>

</ion-view>
