<div class="modal">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Help</h1>

        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeHelp()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                United States
            </div>
            <a class="item item-icon-left" href="mailto:support@enphaseenergy.com">
                <i class="icon ion-email"></i>
                Email - support@enphaseenergy.com
            </a>
            <a class="item item-icon-left" href="tel:18777974743">
                <i class="icon ion-ios7-telephone"></i>
                Phone - 1-877-797-4743
            </a>

            <div class="item item-divider">
                France
            </div>
            <a class="item item-icon-left" href="mailto:support_france@enphaseenergy.com">
                <i class="icon ion-email"></i>
                Email - support_france@enphaseenergy.com
            </a>
            <a class="item item-icon-left" href="tel:330474982956">
                <i class="icon ion-ios7-telephone"></i>
                Phone - 33 (0)4 74 98 29 56
            </a>

            <div class="item item-divider">
                Italy
            </div>
            <a class="item item-icon-left" href="mailto:support.italy@enphaseenergy.com">
                <i class="icon ion-email"></i>
                Email - support.italy@enphaseenergy.com
            </a>
            <a class="item item-icon-left" href="tel:390362638914">
                <i class="icon ion-ios7-telephone"></i>
                Phone - 39 0362 638914
            </a>

        </div>
    </ion-content>
</div>
