<ion-view title="Herzog, David Residence">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios7-refresh-empty"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-only tabs-positive">

        <ion-tab title="Summary" ui-sref="home.summary">
            <ion-nav-view name="tab-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Stats" ui-sref="home.stats">
            <ion-nav-view name="tab-stats"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Alerts" ui-sref="home.alerts">
            <ion-nav-view name="tab-alerts"></ion-nav-view>
        </ion-tab>-->

    </ion-tabs>

</ion-view>
