<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-dark nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <!--<header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">-->
        <ion-content>
            <ion-list>
                <!--<ion-item nav-clear menu-close ng-click="login()">
                  Login
                </ion-item>-->
                <div class="item item-divider">
                    Systems
                </div>
                <ion-item ng-repeat="system in menuView.systems" nav-clear menu-close href="#/home/summary/{{system.id}}">
                    <div><img src="img/{{system.status}}_small.png" />&nbsp;{{system.system_name}}</div>
                    <div style="font-size: 11px"><span style="color: orange;">Address:</span> {{system.city}}, {{system.state}} {{system.postal_code}}</div>
                    <div style="font-size: 11px"><span style="color: orange;">Timezone:</span>{{system.timezone}}</div>
                </ion-item>
                <div class="item item-divider">
                    Menu
                </div>
                <ion-item nav-clear menu-close ng-click="preferences()">
                    <i class="icon ion-settings"></i> Preferences
                </ion-item>
                <ion-item nav-clear menu-close ng-click="help()">
                    <i class="icon ion-help"></i> Help
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
