<ion-modal-view ng-controller="PreferencesCtrl as vm">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Preferences</h1>

        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="close()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="save()">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><em>* </em>URL</span>
                    <input type="text" ng-model="prefs.url">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><em>* </em>API Key</span>
                    <input type="text" ng-model="prefs.apiKey">
                </label>

                <button class="button button-full button-positive">
                    Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
